!!!

%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    / Title and description
    %title Sinatra Bootstrap
    / Favicon
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/ico"}
    %link{:href => "stylesheets/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
  %body
    =yield