%form{:action => "/login", :method => "post"}
  %p
    E-mail:
    %input{:name => "user[email]", :type => "text"}/
  %p
    Password:
    %input{:name => "user[password]", :type => "password"}/
  %input{:type => "submit", :value => "Log In"}/